@use "./variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin button($width: $width) {
  position: relative;
  width: $width; //85%
  height: 2.5rem;
  padding: 0.5rem;
  margin: 0.5rem 1rem 0.5rem auto;
  background-color: $primary-2;
  border-radius: 0.25rem;
  border-style: none;
  text-transform: uppercase;
  color: $primary-4;
  font-weight: 600;
}

@mixin form__label {
  text-transform: uppercase;
  color: $primary-3;
  font-weight: 600;
  font-size: 0.875rem;
  padding-right: 3rem;
}

@mixin form__input {
  margin: 0.25rem 1rem 0 auto;
  background-color: $secondary-4;
  border: 1px solid $secondary-3;
  border-radius: 0.25rem;

  &::placeholder {
    font-family: "Avenir", "sans-serif";
    color: $primary-1;
    padding: 0.5rem 0 0 0.5rem;
  }

  &:focus {
    border: 2px solid $primary-2;
    outline: none;
  }
}
