$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-1: #323232; //brainflix-black
$primary-2: #0095ff; //brainflix-blue
$primary-3: #afafaf; //silver
$primary-4: #ffffff; //white

$secondary-1: #000000; //brainflix-darkblack
$secondary-2: #0065ad; //brainflix-darkblue
$secondary-3: #e1e1e1; //mercury
$secondary-4: #fafafa; //alabaster
