@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.main {
  &__container {
    @include tablet {
      background-color: $secondary-1;
    }
  }
  &__image {
    width: 100%;

    @include tablet {
      width: 90%;
    }

    @include desktop {
      width: 70%;
    }
  }

  &__title {
    text-align: left;
    font-weight: 600;
    margin: 1rem;
    color: $primary-1;

    @include tablet {
      font-size: 2.0625rem;
      font-weight: 700;
    }

    @include desktop {
      padding-left: 7rem;
    }
  }

  &__info {
    display: flex;
    flex-direction: row;
    border-top: 1px solid $secondary-3;
    border-bottom: 1px solid $secondary-3;
    margin: 0 1rem;

    @include tablet {
      border-top: none;
    }

    @include desktop {
      margin-left: 8rem;
      width: 50%;
      gap: 15rem;
    }
  }

  &__wrapper {
    margin: 0;
    width: 50%;

    @include tablet {
      display: flex;
      gap: 1.5rem;
    }

    @include desktop {
      width: 100%;
    }
  }

  &__channel {
    font-weight: 600;
    text-align: left;
    margin-top: 1.5rem;

    @include tablet {
      margin: 0;
      font-weight: 700;
      font-size: 0.875rem;
    }
  }

  &__date {
    text-align: left;
    color: $primary-3;

    @include tablet {
      margin: 0;
      font-size: 0.875rem;
    }
  }

  &__description {
    text-align: left;
    margin: 1rem;
    color: $primary-1;

    @include desktop {
      margin: 1.5rem 1rem;
      padding-left: 7rem;
      width: 50%;
    }
  }
}

.views {
  display: flex;

  @include tablet {
    gap: 0.5rem;
  }

  &__icon {
    margin-right: 0.5rem;
    margin-top: 1.5rem;
    padding-bottom: 0.5rem;
    width: 1.5rem;

    @include tablet {
      margin: 0;
    }
  }

  &__text {
    text-align: left;
    margin: 1.5rem 0 0;
    color: $primary-3;

    @include tablet {
      margin: 0;
      font-size: 0.875rem;
    }
  }
}

.likes {
  display: flex;

  @include tablet {
    gap: 0.5rem;
  }

  &__icon {
    margin-right: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    width: 1.25rem;

    @include tablet {
      margin: 0;
      margin-bottom: 0.5rem;
    }
  }

  &__text {
    text-align: left;
    margin: 1rem 0 1.5rem;
    color: $primary-3;

    @include tablet {
      margin: 0;
      font-size: 0.875rem;
    }
  }
}
