@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comments {
  &__form {
    @include desktop {
      width: 50%;
    }
  }

  &__number {
    text-align: left;
    margin-left: 1rem;
    font-weight: 600;
    color: $primary-1;

    @include tablet {
      margin-left: 2rem;
    }

    @include desktop {
      margin-left: 8rem;
      margin-top: 3rem;
    }
  }
}

.post {
  display: flex;

  @include desktop {
    width: 100%;
  }

  &__image {
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    object-fit: cover;
    margin: 1rem;

    @include tablet {
      margin-left: 2.5rem;
    }

    @include desktop {
      margin-left: 8rem;
    }
  }

  &__container {
    @include tablet {
      display: flex;
      gap: 1.5rem;
    }
  }

  &__label {
    @include form__label;
    @include tablet {
      display: flex;
      justify-content: flex-start;
    }
  }

  &__input {
    @include form__input;

    @include tablet {
      height: 2.25rem;
      width: 28rem;
      margin: 0.25rem 0 0.5rem 0;
    }
  }

  &__button {
    @include button(85%);

    @include tablet {
      margin: 0;
      width: 10rem;
      align-self: center;
    }
  }

  &__icon {
    position: absolute;
    top: 20%;
    left: 7%;
  }
}
