@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  padding-bottom: 0.5rem;
  flex: 1;
  text-align: center;

  @include tablet {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
    padding-bottom: 0;

    @include desktop {
      justify-content: space-around;
      margin: 1rem;
    }
  }

  &__link {
    @include tablet {
      display: none;
    }
    &--tablet {
      display: none;
      @include tablet {
        display: flex;
      }
    }
  }

  &__logo {
    max-width: 7.5rem;
    max-height: 1.5625rem;
    padding: 1rem;

    @include tablet {
      display: none;
    }

    &--tablet {
      display: none;
      @include tablet {
        display: flex;
        align-items: center;
        max-width: 7.5rem;
        max-height: 1.5625rem;
      }
    }
  }
  &__avatar {
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    object-fit: cover;
    margin: 0;

    @include tablet {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
  &__container {
    display: flex;
    justify-content: space-around;

    @include tablet {
      justify-content: flex-end;
      gap: 1rem;
      align-items: center;
    }
  }
}

.search {
  position: relative;
  width: 65%;

  @include tablet {
    display: flex;
    align-items: center;
  }
  &__icon {
    position: absolute;
    top: 20%;
    left: 5%;

    @include tablet {
      top: 30%;
    }
  }
  &__input {
    border: 1px solid $secondary-3;
    background-color: $secondary-4;
    padding: 0.5rem;
    min-width: 14rem;
    border-radius: 0.25rem;

    @include tablet {
      padding: 1rem;
    }

    &::placeholder {
      position: absolute;
      left: 15%;
      color: $primary-1;
    }
  }
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82%;
  height: 1.5rem;
  padding: 0.5rem;
  margin: 1rem auto;
  background-color: $primary-2;
  border-radius: 0.25rem;
  border-style: none;
  text-transform: uppercase;
  color: $primary-4;
  font-weight: 600;
  font-size: 0.875rem;
  text-decoration: none;

  @include tablet {
    display: none;
  }

  &--tablet {
    display: none;
    @include tablet {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.25rem 3.5rem;
      margin: 0;
      height: 2.5rem;
      text-decoration: none;
    }
  }
  &__icon {
    position: absolute;
    top: 20%;
    left: 5%;

    @include tablet {
      top: 25%;
    }
  }
}
