@use "./styles/partials/typography" as *;
@use "./styles/partials/mixins" as *;

.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;

  &__desktop {
    @include desktop {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }
}

body {
  font-family: "Avenir", "sans-serif";
  margin: 0;
}
